<p id="notice"><%= notice %></p>

<h1>门票</h1>

<table>
  <thead>
    <tr>
      <th>姓名</th>
      <th>Set#</th>
      <th>地址</th>
      <th>Price paid</th>
      <th>邮箱</th>
	  <th>电话</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.name %></td>
        <td><%= ticket.set_id_seq %></td>
        <td><%= ticket.address %></td>
        <td><%= ticket.price_paid %></td>
        <td><%= ticket.email_address %></td>
        <td><%= ticket.phone %></td>
        <td><%= link_to '显示', ticket %></td>
        <td><%= link_to '编辑', edit_ticket_path(ticket) %></td>
        <td><%= link_to '删除', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '点击预订', new_ticket_path %>
